.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
.DS_Store
.env
.env.*
!.env.example
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
